<footer class="contact" id="contact">
  <h2>SnowSurfStudio</h2>
  <p class="contact__sub">2026/27 Season</p>
  <div class="contact__links">
    {% set iconBtnClass = "contact__icon-btn" %}
    {% include "partials/contact-icons.njk" %}
  </div>
</footer>
